@font-face {
  font-family: "iconfont"; /* Project id 3860830 */
  src: url('iconfont.woff2?t=1677909248586') format('woff2'),
       url('iconfont.woff?t=1677909248586') format('woff'),
       url('iconfont.ttf?t=1677909248586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-feiji:before {
  content: "\e7bb";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-youxitubiao:before {
  content: "\e60f";
}

.icon-youxiyouxisheji:before {
  content: "\e61c";
}

.icon-youxihuodong:before {
  content: "\e621";
  color: #43d3b9;
}
.icon-youxihuodong {
  color: #28b695;
}

.icon-youxi:before {
  content: "\e604";
}

.icon-lishiyouxibitongjiweijihuo:before {
  content: "\e607";
  color: #43d3b9;

}
.icon-lishiyouxibitongjiweijihuo{
    color: #28b695;
}

.icon-youxi1:before {
  content: "\e620";
}

.icon-celveyouxi:before {
  content: "\e602";
}

.icon-gedouyouxi:before {
  content: "\e603";
}

.icon-qiapaiyouxi:before {
  content: "\e605";
}

.icon-yizhiyouxi:before {
  content: "\e606";
}

.icon-jingsuyouxi:before {
  content: "\e608";
}

.icon-tiyuyouxi:before {
  content: "\e609";
}

.icon-youxi-:before {
  content: "\edc9";
}

.icon-youxi-1:before {
  content: "\edda";
}

.icon-youxi-2:before {
  content: "\eddc";
}

.icon-youxi-3:before {
  content: "\eddf";
}

.icon-youxi-4:before {
  content: "\ede8";
}

.icon-youxi2:before {
  content: "\e61d";
}

.icon-dongzuo:before {
  content: "\e61f";
}

.icon-youxiwanjia:before {
  content: "\e62d";
}

.icon-tanhao:before {
  content: "\e61b";
}

.icon-a-bianzu13-09:before {
  content: "\e614";
}

.icon-a-bianzu13-15:before {
  content: "\e615";
  color: #43d3b9;
}
.icon-a-bianzu13-15{
  color: #28b695;

}

.icon-a-bianzu13-24:before {
  content: "\e616";
}

.icon-a-bianzu13-19:before {
  content: "\e617";
}

.icon-a-bianzu13-36:before {
  content: "\e618";
  color: #43d3b9;

}
.icon-a-bianzu13-36 {
  color: #28b695;


}

.icon-a-bianzu13-38:before {
  content: "\e619";
}

.icon-a-bianzu13-40:before {
  content: "\e61a";
}

.icon-a-bianzu13-06:before {
  content: "\e613";
}

